.q-status{
  vertical-align: middle;
  i{
    display: inline-block;
    &.icon-close{
      &:before{
        content:"\2718";
      }
    }
  }
  >.loading{
    animation: rotating 1s linear infinite;
  }
}


.btn-inside{
  .q-status{
    i{
      margin-right: 6px;
      &.icon-close{
       padding-right: 3px;  
      }
    }
  }
}
.btn-outside-group{
  .q-status{
    i{
      margin-left: 6px; 
    }
  }
}






@keyframes rotating {
  0% {
    transform: rotate(0deg) ;
  }
  50% {
    transform: rotate(180deg) ;
  }
  100% {
   transform: rotate(360deg);
 }
}